/* Font customisation */
html {
    font-family: 'Open Sans', Sans-serif;
}

h1 {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 2em;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
}

h4 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
}

span {
    color: #00c49a;
}


/* NavBar Customisation */
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar .nav-link:nth-of-type(1) {
    margin-left: 4rem;
}

.navbar .nav-link {
    font-size: 1.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-weight: bold;
    color: #212529;
    letter-spacing: 1px;
}

.navbar .contactMe {
    border: 0.3rem solid #212529;
    margin-left: 40rem;
    padding: 10px 15px;
    border-radius: 10px;
}

.navbar .nav-link:hover {
    color: #00c49a;
    transition: background-color 0.3s ease;
}

.navbar .contactMe:hover {
    background-color: #212529;
    color: white;
}

/* Overview customisation */
.overview-container {
    display: 100vh;
}

.imageContainer {
    /* margin-top: 1em; */
    display: flex;
    justify-content: center;

}

.profilePic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid #212529;
}

.profilePic:hover {
    border-color: #00c49a;
    transition: border-color 0.3s ease;

}

.descriptionContainer {
    height: 400px;
    margin: 10px 0 0;
    padding: 56px 100px;
    display: flex;
    justify-content: center;
}

/* Featured Work Customisation */
.featured-work {
    padding: 5rem;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: rgba(17, 24, 39, 1);
}

.featured-work header {
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    height: 5vh;
    box-sizing: border-box;
    margin-bottom: 5rem;
    background: rgba(17, 24, 39, 1);

}

.featured-row {
    display: flex;
    gap: 12rem;
    width: 100%;
}

.featured-card {
    color: white;
    flex: 1;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.featured-card-pic {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.featured-card .featured-card-pic img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* myProjects customisation */
.myProjects {
    padding: 56px 100px;
    display: 80vh;
}

.myProjects header h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.project-row {
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 5rem;
}

.project-card {
    flex: 1;
    padding: 1rem;
    border: 3px solid #212529;
    border-radius: 10px;
}

.project-card-icon {
    height: 4rem;
    width: 100%;
    place-items: center;
    padding-bottom: 1rem;
}

.project-card h2 {
    text-align: center;
}

.extras {
    padding: 56px 100px;
}

.contactMe {
    padding: 56px 100px;
}

.media-row {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 56px 300px;
}

.media-row article {
    flex: 1;
    padding: 1rem;
    border: 2px solid #212529;
    height: 100px;
    border-radius: 5px;
}

.media-card-img {
    width: 100%;
    height: 3em;
}